@font-face {
    font-family: 'LogoFont';
    src: local('LogoFont'),
        url(../../style/fonts/SfDistantGalaxy-0l3d.ttf) format('truetype');
}
nav {
    background-color: black;
    display: flex;

    a {
        text-align: justify;
    }
}